* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Hanken Grotesk Bold";
  src: url(../assets/fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
  font-family: "Hanken Grotesk extra bold";
  src: url(../assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

@font-face {
  font-family: "Hanken Grotesk Medium";
  src: url(../assets/fonts/static/HankenGrotesk-Medium.ttf);
}

body {
  background-color: #ecf2ff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  padding: 5rem;
}

@media (max-width: 750px) {

  .purplecard {
    width: 375px;
    height: 512px;
    background-image: linear-gradient(
      180deg,
      #7755ff 0%,
      #6943ff 0.01%,
      #2f2ce9 100%
    );
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .whitecard {
    width: 375px;
    height: 912px;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
  }

  .purpleheader {
    width: 125px;
    height: 31px;
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #cac9ff;
  }

  .oval {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );
  }

  .ovalResultBold {
    font-size: 58px;
    font-family: "Hanken Grotesk Bold", sans-serif;
    color: white;
  }

  .ovalResultLight {
    font-family: "Hanken Grotesk Bold", sans-serif;
    color: white;
    opacity: 0.5;
  }

  .purpleCardBottomText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Hanken Grotesk Medium";
    color: white;
    width: 260px;
    padding-bottom: 50px;
  }

  .purpleCardBottomText p {
    color: #cac9ff;
  }

  .purpleCardBottomText h1 {
    padding-bottom: 15px;
  }

  .whiteCardSection {
    width: 368px;
    height: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titleContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .whiteCardTitle {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #303b59;
    padding-left: 40px;
  }

  .statReaction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #fff6f6;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldReaction {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ff5555;
  }

  .statResult {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303b59;
    padding-left: 60px;
  }

  .statResult span {
    opacity: 0.5;
    padding-left: 8px;
  }

  .statMemory {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #fffbf4;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldMemory {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ffb21e;
  }

  .statVerbal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #f2fcf9;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldVerbal {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #00bb8f;
  }

  .statVisual {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #f3f4fd;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldVisual {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #1125d6;
  }

  .continueButton {
    margin-top: 31px;
    border: none;
    width: 288px;
    height: 56px;
    border-radius: 128px;
    background: #303b59;
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
  }

  .continueButton:hover {
    background: linear-gradient(
      180deg,
      #7755ff 0%,
      #6943ff 0.01%,
      #2f2ce9 100%
    );
  }
}
@media (min-width: 750px) {

  

  #maincard {
    width: 736px;
    height: 512px;
  }

  .purplecard {
    width: 368px;
    height: 512px;
    background-image: linear-gradient(
      180deg,
      #7755ff 0%,
      #6943ff 0.01%,
      #2f2ce9 100%
    );
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .whitecard {
    width: 736px;
    height: 512px;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 32px;
    display: flex;
    flex-direction: row;
  }

  .purpleheader {
    width: 125px;
    height: 31px;
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #cac9ff;
  }

  .oval {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );
  }

  .ovalResultBold {
    font-size: 58px;
    font-family: "Hanken Grotesk Bold", sans-serif;
    color: white;
  }

  .ovalResultLight {
    font-family: "Hanken Grotesk Bold", sans-serif;
    color: white;
    opacity: 0.5;
  }

  .purpleCardBottomText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Hanken Grotesk Medium";
    color: white;
    width: 260px;
    padding-bottom: 50px;
  }

  .purpleCardBottomText p {
    color: #cac9ff;
  }

  .purpleCardBottomText h1 {
    padding-bottom: 15px;
  }

  .whiteCardSection {
    width: 368px;
    height: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .titleContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .whiteCardTitle {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #303b59;
    padding-left: 40px;
  }

  .statReaction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #fff6f6;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldReaction {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ff5555;
  }

  .statResult {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #303b59;
    padding-left: 60px;
  }

  .statResult span {
    opacity: 0.5;
    padding-left: 8px;
  }

  .statMemory {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #fffbf4;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldMemory {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ffb21e;
  }

  .statVerbal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #f2fcf9;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldVerbal {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #00bb8f;
  }

  .statVisual {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 288px;
    height: 56px;
    background-color: #f3f4fd;
    border-radius: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .statFieldVisual {
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #1125d6;
  }

  .continueButton {
    margin-top: 31px;
    border: none;
    width: 288px;
    height: 56px;
    border-radius: 128px;
    background: #303b59;
    font-family: "Hanken Grotesk Medium";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
  }

  .continueButton:hover {
    background: linear-gradient(
      180deg,
      #7755ff 0%,
      #6943ff 0.01%,
      #2f2ce9 100%
    );
  }
}
